html {
  font-size: 62.5%; /*16px * 62.5% = 10px =1 rem*/
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
body {
  margin: 0;
  font: 1.6rem Helvetica;
  height: 100vh;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
  overflow-y: auto;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
}
.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.brand a:hover {
  color: #ff8000;
}
.header-links a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 2rem;
}
.header-links a:hover {
  color: #ff8000;
}

.main {
  grid-area: main;
  max-width: 1400px;
  margin: 2rem 2rem;
}
.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/*HOME SCREEN*/
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c8c0c0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}
.product-rating {
  margin-bottom: 1rem;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}

/*SIDEBAR*/
.brand button {
  font-size: 3rem;
  background: none;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5sec;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
  transition: 0.3s linear;
}

.sidebar.open {
  transform: translateX(0rem);
  transition: 0.3s linear;
}
.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  padding: 0.5rem;
  padding-top: 0.1rem;
  right: 0.5rem;
  top: 1.5rem;
  background: #ffffff;
}

/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 50rem;
}

.details-image img {
  max-width: 50rem;
}

.details-info {
  flex: 1 1 20rem;
}

.details-action {
  flex: 1 1 20rem;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li,
.details-action li {
  margin: 1rem;
}

.back-to-home {
  padding: 1rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  cursor: pointer;
}
.button:hover {
  border: 0.3rem #404040 solid;
}
.button.primary {
  background-color: #f0f040;
}
